<!DOCTYPE html>
<html>
<head>
<title></title>
<meta charset="utf-8" />
<!-- <meta name="format-detection" content="telephone=no" /> -->
<link href="../css/gasStation.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript">
</script>
<body>
<!-- 微信支付 -->
<div class="banner">
  <div class="banner-left" ng-click="back()">
     <img src="../img/return.png"/>
  </div>
  <label>选择油面号</label>
  <div class="banner-right">
  	    <div class="dot-box">
	          <div class="dot"></div>
	          <div class="dot"></div>
	          <div class="dot"></div>
	    </div>
  </div>
</div>


<div class="wechatpay-continter">
	<dl>
		<dt>加油站</dt>
		<dd>
		    <div class="wechatpay-Select">
		        <div class="span-box">
		        	<span ng-bind="station.fullName">梅州文福加油站</span>
		        </div>
				
				<img src="../img/map.png">
			</div>
		</dd>
	</dl>
	<!-- <dl>
        <dt>加油站地址</dt>
        <dd>
            <div class="wechatpay-Select">
                <input type="text" placeholder="">
            </div>
        </dd>
    </dl> -->
    <dl>
    <!-- 油枪号的选择为弹框 -->
		<dt>油枪号</dt>
		<dd>
		    <div class="wechatpay-Select wechatpay-span">
				<div class="span-box" >
		        	<span ng-bind="inputValue">  </span>
		        </div>
			</div>
			<div class="wechatpay-Select wechatpay-span no-right">
				<div class="span-box span-box-select-yq ">
				<!-- 不可选追加oil-gun-select -->
		        	<span class="oil-gun-select-span" ng-click="selectStation()">选择油枪号</span>
		        	<!-- 不可选时追加oil-gun-select-i -->
		        </div>
			</div>
		</dd>
	</dl>
	<!-- <dl>
		<dt>油品</dt>
		<dd>
		    <div class="wechatpay-Select">
				<select>
					<option>--请选择--</option>
					<option></option>
				</select>
			</div>
		</dd>
	</dl> -->
    <div class="wechatpay-pay-box">
		    <ul class="wechatpay-special-ul">
		    	<li><i>序号</i></li>
		    	<li><i>油品</i></li>
               <!--  ng-repeat="price in priceList" -->
		    	<li class="popup-boxnoright"><i>金额</i></li>
		    </ul>
		    <ul ng-repeat="price in priceList" ng-click="select($index)">
		    <!-- 被选择的点击事件为整行 -->
		    	<li><i ng-bind="{{$index+1}}"></i></li>
		    	<li><i ng-bind="price.prodname"></i></li>
		    	<li class="popup-boxnoright" ng-bind="price.unitPrice"><i>￥110.00</i></li>
		    </ul>
		</div>
		</div>
<div class="btn-style wechatpay-btn" ng-click="goNext()">下一步</div>


<!-- 油枪选择弹窗 -->
<div class="popup-bg-black" ng-click="stationPop=flase" ng-show="stationPop"></div>
<div class="wechatpay-popup-box" ng-show="stationPop">
   <div class="wechatpay-popup-title">
       选择油面号
   </div>
    <ul>
        <li ng-repeat="childGun in gun track by $index">
            <i ng-bind="childGun.oilGunSn" ng-click="changeInputValue(childGun.oilGunSn)">1</i>
        </li>
    </ul>
    
</div>  
</body>
</html>
	














