<!-- <div class="loading" ng-if="waitingDiv" ng-click="$root.waitingDiv = false"> 
	<div class="block">
		<span class="ouro ouro3">
		    <span class="left"><span class="anim"></span></span>
		    <span class="right"><span class="anim"></span></span>
		</span>
		<div class="load-contents"></div>
	 </div>
	<div class="load-wait"></div>
</div> -->
<div class="loadding" ng-if="waitingDiv" ng-click="$root.waitingDiv = false" ng-cloak>
	<div class="white-bg1">
	</div>
	<div class="loading-2">
		<div class="load8">
			<div class="loader">Loading...</div>
			<div class="loader-img">
				<img src="img/jiazai_ico1.png">
			</div>
		</div>
	</div>
</div>